@mixin font-16-400 {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
@mixin font-16-600 {
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
@mixin font-20-400 {
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
@mixin font-20-600 {
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
@mixin font-28-400 {
	font-size: 28px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
@mixin font-28-600 {
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
@mixin font-36-600 {
	font-size: 36px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
@mixin font-48-600 {
	font-size: 48px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}
@mixin font-48-700 {
	font-size: 48px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}
