/* Error: Undefined mixin.
 *    ,
 * 18 |         @include font-20-600;
 *    |         ^^^^^^^^^^^^^^^^^^^^
 *    '
 *   scss\components\cards\product-card.scss 18:3  @import
 *   scss\components\cards\index.scss 1:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 18 \2502          @include font-20-600;\d\a    \2502          ^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\components\\cards\\product-card.scss 18:3  @import\a   scss\\components\\cards\\index.scss 1:9          root stylesheet";
}
